.qm-count{
    padding-top: 20px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}
.num{
    font-size: 18px;
    color: #ff8519;
}
.name{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 0 8px;
    border-radius: 1em;
    line-height: 2;
    margin-top: 5px;
    font-size: 12px;
    min-width: 66px;;
}