

.ncsc-default-table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;
}
table td, table th {
    word-break: break-all;
}

.ncsc-default-table th, .ncsc-default-table td {
    vertical-align: top;
    font-size: 14px;
    height: 20px;
}

.ncsc-default-table th {
    background: #f9f9f9;
    padding: 10px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}
.ncsc-default-table td {
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
}


.ncsc-default-table .handle p {
    margin: 8px -5px 0;
}

.ncsc-default-table .handle p:first-child {
    margin-top: 0;
}
a:link, a:visited, a:active {
    text-decoration: none;
}

.ncsc-default-table .handle p a {
    margin: 0 5px;
}

.js-tips-img img {
    width: 150px;
    height: 44px;
    background-size: 100% 100%;
    border:0
}

.eject_con dl dt {
    width: 8em;
}

.ncsc-upload-img-250 .ncsc-upload-btn,.ncsc-upload-avatar img {
    width: 250px;
    height: 73px;
}

.ncsc-upload-img-250 .ncsc-upload-btn p i {
    margin-bottom: 0;
}

.ncsc-upload-img-item .ncsc-upload-img-box {
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
}
.ncsc-upload-img-250 .ncsc-upload-img-box, .ncsc-upload-img-250 .ncsc-upload-btn {
    width: 250px;
    height: 73px;
}

i.required {
    font: 12px/16px Tahoma;
    color: #F30;
    vertical-align: middle;
    margin-right: 4px;
}

.ncsc-btn {
    font-size: 14px;
}

label.error {
    font-size: 12px;
}

#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    margin-top: 10px;
}

.hasImageDiv{
    max-width: 520px;
}

.loader{
    height: 230px;
    text-align: center;
    vertical-align: middle;
    line-height: 230px;
}
.tip-doubt{position: relative; display: inline-block; vertical-align: middle; margin:0 5px;}
.tip-doubt .tip-tit{font-size: 12px; color:#0093fa; line-height: 18px;}
.tip-doubt .tip-doubt-con{position: absolute; display: none; left: 50px; z-index: 500;}
.tip-doubt:hover{cursor: pointer;}
.tip-doubt:hover .tip-doubt-con, .tip-doubt-wrap:hover .tip-doubt-con{display: block;}
.tip-doubt-word .tip-doubt-con{width: 200px; top:-7px; text-align: left; word-break: break-all;}
.tip-doubt-word .tip-doubt-con .tip-txt{padding:5px 10px; display: inline-block; position: relative; border-radius:5px; background: #fff; border:1px solid #0093fa}
.tip-doubt-word .tip-doubt-con .tip-txt:before, .tip-doubt-word .tip-doubt-con .tip-txt:after{content:''; display:block;overflow:hidden;position:absolute;width:0;height:0;font-size:0;border-bottom:6px dashed transparent;border-left:6px dashed transparent;border-top:6px dashed transparent;border-right-style:solid;border-right-width:6px; top: 9px;}
.tip-doubt-word .tip-doubt-con .tip-txt:before{left:-12px;color:#eee; color:#0093fa}
.tip-doubt-word .tip-doubt-con .tip-txt:after{z-index:2;left:-11px;color:#fff}
.tip-doubt-word.tip-notit .tip-doubt-con{ left: 25px;}

.tip-doubt-ad-link{ margin:0;}
.tip-doubt-ad-link .tip-tit{ color:#333; font-size: 14px;}
.tip-doubt-ad-link .tip-doubt-con{ width: 500px; left: 65px;}
.tip-doubt-ad-link .tip-doubt-con .tip-txt{ font-size: 12px;}

#imagesname2{
    width: 138px;
    height: 138px;
}

.delivery-div{
    display: inline-block;
    cursor:default;
    border-radius: 5px;
}
.delivery-span {
    height: 30px;
    border: solid 0.5px #dbdbdb;
    display: inline-block;
    width: 140px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin: 10px 0;
    font-size: 14px;
}
.delivery-span-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.delivery-span-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delivery-exmaple{
    height: 35px;
    display: inline-block;
    width: 140px;
    line-height: 35px;
    float: left;
    margin: 10px 0;
    font-size: 16px;
}

.delivery-span-choosed {
    background: #ff8519;
    border: solid 0.5px #ff8519;
    color: #fff;
}
